$font: roboto;

.works{
    .brush{
        margin-left: -200px;
        margin-top: 100px;
    }
    .number3{
        position: absolute;
        left: 3%;
        top: 300px;
    }
    h1{
        position: absolute;
        font-size: 100px;
        color: #fff;
        font-family: roboto;
        font-weight: bold;
        z-index: 1;
        top: 280px;
        left: 100px;
        line-height: 90px;
    }
    .text{
        position: absolute;
        font-weight: regular;
        font-size: 25px;
        left: 100px;
        top: 550px;
        z-index: 1;
    }
    .escultura{
        position: absolute;
        right: 0%;
        height: 110%;
    }
    .dest{
        position: absolute;
        bottom: -150px;
        left: 50%;
        color: #fff;
        font-weight: regular;
        font-size: 35px;
        font: 100% $font;
        text-decoration: none;
    }
    .dest:hover{
        font-weight: bold;
        color: #3AB1C1;
    }
    .brush4{
        position: absolute;
        width: 20%;
        top: 112%;
        left: 44%;
    }
}

@media screen and (max-width: 650px) {
    body{
        .works{
            .brush{
                width: 110%;
                margin-left: -60px;
            }
            .escultura{
                height: 50%;
                top: 50%;
            }
            h1{
                font-size: 50px;
                line-height: 50px;
                left: 10%;
                top: 25%;
            }
            .number3{
                width: 50%;
                top: 25%;
            }
            .text{
                font-size: 15px;
                left: 10%;
                top: 40%;
            }
            .dest{
                left: 25%;
                bottom: -10%;
            }
            .brush4{
                width: 70%;
                left: 0%;
                top: 102%;
                padding: 40px;
            }
        }
    }
}
